---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Como diseñador y desarrollador frontend, destaco por mi creatividad y pensamiento innovador, siempre buscando maneras originales de resolver problemas y crear experiencias únicas para los usuarios. 
      <br><br>
      Mi conocimiento en diseño y composición me permite desarrollar interfaces que no solo son funcionales, sino también visualmente atractivas, utilizando teoría del color y tipografía de manera efectiva para mejorar la estética y la usabilidad. Además, tengo dominio de herramientas digitales y software de diseño, lo que me permite transformar conceptos creativos en productos digitales tangibles con precisión técnica y atención al detalle.
		</p>
	</div>
</section>