---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"  


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/portafolio/img/img_2.jpeg"
			alt="Foto de perfil de Thomas Mujica"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
        Diseñador y Desarrollador web Frontend Junior, innovador, proactivo y altamente capacitado para diseñar y desarrollar páginas web elegantes para clientes exigentes con un fuerte enfoque en la atención al detalle, organizado y con capacidad de multitarea, habilidades analíticas excepcionales para prosperar en entornos de equipos colaborativos o independientes. Con 3 años de experiencia práctica y una mentalidad proactiva.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>