---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="temcDesign">
	<div class="terminal__skills">
		<h2>Mis habilidades</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/portafolio/assets/html.svg"
				color="#ff8000"
				name="HTML"
			/>
      <TerminalIcon src="/portafolio/assets/css.svg" color="#00A3FF" name="CSS" />
      <TerminalIcon
				src="/portafolio/assets/tailwind.svg"
				color="#3F75FF"
				name="Tailwind"
			/>
			<TerminalIcon
				src="/portafolio/assets/javascript.svg"
				color="#d9ff00"
				name="Javascript"
			/>
			<TerminalIcon
				src="/portafolio/assets/react.svg"
				color="#00D1FF"
				name="React"
			/>
      <TerminalIcon src="/portafolio/assets/next.svg" color="#F3CBC2" name="NextJs" />
			<TerminalIcon src="/portafolio/assets/Astro.svg" color="#F3CBC2" name="Astro" />
      <TerminalIcon
				src="/portafolio/assets/adobeXD.svg"
				color="#F360AD"
				name="XD"
			/>
      <TerminalIcon
				src="/portafolio/assets/figma.svg"
				color="#10956B"
				name="Figma"
			/>
      <TerminalIcon
				src="/portafolio/assets/Photoshop.svg"
				color="#3F75FF"
				name="Photshop"
			/>
      <TerminalIcon
				src="/portafolio/assets/illustrator.svg"
				color="#F2731B"
				name="Illustrator"
			/>
      <TerminalIcon
				src="/portafolio/assets/premier.svg"
				color="#E975B8"
				name="Premier"
			/>
		</div>
	</div>
</Terminal>